/*
*/
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clear-both {
  clear: both;
}
.demand-aside {
  background-color: #f2f2f2;
  width: 80%;
  max-width: 986px;
}
.demand-aside .block {
  background-color: #fff;
  position: relative;
}
.demand-aside .company {
  background-color: #ffffff;
}
.demand-aside [ng-drag] .top {
  cursor: move;
}
.demand-aside [ng-drag].dragging {
  opacity: 0.5;
}
.demand-aside [ng-drop].drag-enter {
  border: 2px dashed #d7d7d7 !important;
}
.demand-aside .fa-bullseye {
  font-size: 26px;
}
.demand-aside .aside-body {
  padding: 20px 30px !important;
}
.industry-aside .head .search {
  display: inline-block;
}
.industry-aside .head-action {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  padding-right: 10px;
  border-right: 1px solid #b9b9b9;
}
.industry-aside .block {
  padding: 15px 30px;
}
.industry-aside .block h3 {
  padding: 0;
  margin: 0 0 15px 0;
  text-align: center;
  color: #000000;
}
.industry-aside .block .b1 {
  color: #666666;
}
.industry-aside .block .company {
  position: relative;
}
.industry-aside .block .company .top {
  line-height: 18px;
  border: 1px solid #ddd;
}
.industry-aside .block .company .top a {
  display: block;
  height: 36px;
  line-height: 36px;
  text-align: right;
}
.industry-aside .block .company .toggle {
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.industry-aside .block .company .toggle i {
  position: absolute;
  top: 9px;
  right: 20px;
}
.industry-aside .block .company .toggle.disabled {
  background-color: #ddd;
  color: #000000;
}
.industry-aside .block .company .bottom {
  border: 1px solid #ddd;
}
.industry-aside .block .company .action-arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 24px;
  line-height: 24px;
  background: transparent;
  color: #000;
}
.location-aside .wrapper {
  padding: 0 15px;
}
.location-aside .wrapper .row {
  margin-top: 15px;
}
.location-aside .wrapper-search {
  padding: 0 8px;
}
.location-aside .wrapper-search .table-crud-row {
  border-bottom: 1px solid #ffffff;
  padding: 0 0 10px 0;
}
.location-aside .wrapper-search .table-search {
  margin-left: 10px;
  width: 240px;
}
.location-aside .wrapper-search .border-right {
  border-right: 1px solid #b9b9b9;
}
.location-aside .block {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 5px;
  margin: 0 0 15px 0;
}
.location-aside .block.selected {
  background-color: #296b94;
  color: #ffffff;
}
.location-aside .block.selected.area {
  background-color: #5d91af;
}
.location-aside .col:not(:first-child),
.location-aside .col:not(:last-child) {
  padding-right: 7px;
  padding-left: 7px;
}
.contacts-aside .wrapper {
  padding: 20px;
  background-color: #ffffff;
}
.contacts-aside .search-box .input-keyword {
  border: 1px solid #CCCCCC;
  border-radius: 35px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 220px;
}
.contacts-aside .search-box .btn-dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 35px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #fff;
  color: #666666;
}
.contacts-aside .search-box .btn-dropdown:after {
  color: #666666;
}
.contacts-aside .search-box .fa-check-circle-o:before {
  font-size: 24px;
  color: #6cb400;
}
.contacts-aside .search-box .msg {
  color: #6cb400;
}
.contacts-aside .recommended .tags {
  padding-left: 15px;
}
.contacts-aside .recommended .tags .tag {
  float: left;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  background-color: #666666;
  color: #ffffff;
  margin: 0 10px 10px 0;
}
.contacts-aside .results h3 {
  color: #000000;
}
.contacts-aside .results .titles {
  line-height: 1.3em;
}
.contacts-aside .results .titles .title {
  float: left;
  margin: 0 10px 10px 0;
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  text-align: center;
  position: relative;
  width: 172px;
}
.contacts-aside .results .titles .title .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.contacts-aside .results .titles .title .mask .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 10;
}
.contacts-aside .results .titles .title .mask .fa {
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.contacts-aside .results .titles .title:hover .mask {
  display: block;
}
.contacts-aside .results .border-right {
  border-right: 1px dashed #CCCCCC;
  margin-right: 20px;
}
.indicator-box {
  padding-left: 5px;
  padding-right: 5px;
}
.indicator-box .name {
  line-height: 1.3em;
  height: 1.3em;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.modal-export .modal-body {
  padding: 15px 0;
}
.modal-export .modal-body .form-group .control-label {
  padding: 7px 0 0 0;
}
.modal-export .line {
  border-bottom: 1px solid #d7d7d7;
}
.modal-alert {
  padding: 60px 20px;
}
.modal-alert .img {
  width: 80px;
  text-align: center;
  font-size: 28px;
  color: #6cb400;
}
.text-center {
  text-align: center;
}
.section {
  font-size: 18px;
  color: #000;
}
.chart-desc,
.data-text {
  font-size: 16px;
  color: #000;
}
.title-small {
  font-size: 16px;
  color: #666;
}
hr.hr-border-grey {
  border-top: 1px solid #ddd;
  margin: 15px 0;
}
.p-b-sm {
  padding-bottom: 10px;
}
.p-b {
  padding-bottom: 15px;
}
.p-l-lg {
  padding-left: 20px;
}
.p-r-xs {
  padding-right: 5px;
}
.btn-big-grey {
  font-size: 22px;
  color: #666;
  padding: 0 6px;
  border: 1px solid transparent;
}
.btn-big-grey:hover {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.btn-to-select {
  border: 0;
  padding: 0 0 6px 0;
  margin-bottom: 4px;
  color: #666;
  background-color: transparent;
}
.btn-to-select:hover {
  background-color: transparent;
  color: #000;
}
.btn-groups {
  display: inline-block;
  margin-bottom: 0;
}
.btn-groups > li {
  float: left;
  margin-left: 10px;
}
.text-link {
  color: #055ec3;
}
.real-edit .btn-edit {
  visibility: hidden;
}
.real-edit:hover .btn-edit {
  visibility: visible;
}
.form-group input.border-grey {
  border: 1px solid #ddd;
  padding: 6px 12px;
  font-size: 16px;
}
.overview-panel .item {
  line-height: 1.3em;
  padding-left: 5px;
  padding-right: 5px;
  width: 90%;
}
.jslider div.jslider-value {
  font-size: 14px !important;
  line-height: 16px !important;
}
.jslider div.jslider-scale ins {
  font-size: 14px;
}
.relative {
  position: relative;
}
.slider-pointer-pic {
  display: inline-block;
  position: relative;
  border: 1px solid #aaa;
  background-color: #fff;
  width: 11px;
  top: 4px;
  height: 20px;
  margin-right: 3px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.slider-pointer-pic:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 11px;
  top: 3px;
  left: 3px;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #d7d7d7;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fff;
}
.location-item {
  height: 80px;
  overflow: hidden;
}
.location-item .item-name {
  overflow-y: hidden;
  word-wrap: break-word;
}
.count-title {
  font-size: 16px;
  color: #666;
}
.modal-content {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 10% auto;
  }
}
.jslider div.jslider-value {
  background: transparent !important;
}
.es-slider-div {
  height: 10px;
  padding: 0 3px;
  background-color: #ddd;
  margin-bottom: 25px;
}
.es-slider {
  top: 3px;
}
.es-slider div.jslider-value,
.es-slider div.jslider-label {
  top: -1000009px;
}
.es-slider-show-value div.jslider-value {
  top: 10px;
}
.es-slider div.jslider-scale span {
  border-left: 0;
}
.es-slider div.jslider-scale ins {
  top: 0;
  left: -8px;
}
.es-slider div.jslider-pointer {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 11px !important;
  top: -8px !important;
  height: 19px !important;
  -webkit-border-radius: 1px !important;
  border-radius: 1px !important;
}
.es-slider div.jslider-pointer:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 3px !important;
  height: 11px !important;
  top: 3px !important;
  left: 3px !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  border-color: #d7d7d7;
  border-left: 1px solid #aaa !important;
  border-right: 1px solid #aaa !important;
  background-color: #fff !important;
}
.es-slider div.jslider-pointer:before {
  content: "";
  width: 1px !important;
  height: 18px !important;
  top: 0 !important;
  left: 2px !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.jslider div.jslider-bg i {
  height: 4px !important;
}
.jslider.sliderCSS div.jslider-bg i.range {
  background-color: #055ec3 !important;
}
.table-same-width {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}
.ui-select-bootstrap .ui-select-toggle > .caret {
  border-top: 0;
  margin-top: -11px;
  margin-right: 10px;
}
.ui-select-bootstrap .ui-select-toggle > .caret:before {
  font: normal normal normal 24px/1 FontAwesome;
  position: relative;
  content: "\f107";
}
.form-control {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  line-height: 1.42857143;
  /*this can fix a bug that select can not close when click select too fast*/
}
.angular-highlight {
  font-weight: 700;
}
.p-b-xs {
  padding-bottom: 5px;
}
.p-b-sm {
  padding-bottom: 10px;
}
.p-b-md {
  padding-bottom: 20px;
}
.p-b-lg {
  padding-bottom: 30px;
}
.p-b-xl {
  padding-bottom: 40px;
}
.flex-search {
  position: relative;
  margin-left: 5px;
  width: 240px;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.flex-search .form-control {
  transition: all .3s linear;
  width: 0;
  opacity: 0;
  pointer-events: none;
  padding-left: 34px;
  padding-right: 30px;
}
.flex-search .form-control-search:hover ~ .form-control,
.flex-search .form-control-active,
.flex-search .form-control:hover,
.flex-search .form-search-clear:hover ~ .form-control {
  transition: all .3s linear;
  opacity: 1;
  width: 240px;
  pointer-events: auto;
}
.flex-search .form-search-clear {
  position: absolute;
  top: 0;
  left: 210px;
  opacity: 0;
  pointer-events: none;
}
.flex-search:hover .form-control {
  transition: all 0.3s ease-in;
  opacity: 1;
  pointer-events: auto;
  width: 240px;
}
.flex-search:hover .form-search-clear {
  transition: all 0.7s ease-in;
  opacity: 1;
  pointer-events: auto;
}
.flex-search .form-control-search {
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 2;
  font-size: 20px;
}
.flex-search input.rounded:focus,
.flex-search input.rounded:active {
  border: 0;
}
.rounded:focus,
.rounded:active {
  border-radius: 500px;
}
.ui-select-bootstrap > .ui-select-match span {
  color: #000;
}
.btn-dropdown {
  padding: 8px 28px 8px 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  font-weight: 600;
}
p {
  color: #000;
}
.form-group label {
  font-weight: 400;
}
.nav-lines {
  border-bottom: 1px solid #ddd !important;
}
.nav-lines > li {
  border-bottom: 0;
}
.nav-lines > li.active > a {
  border-bottom: 4px solid #055ec3;
}
.nav-lines > li > a {
  font-size: 18px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  min-width: 60px;
  text-align: center;
}
.show-hide {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.show-hide.ng-hide {
  opacity: 0;
}
/*fix app.css*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #055ec3 !important;
}
.dropdown-menu {
  padding: 0;
}
.btn-to-select span.caret {
  border-top: none;
  display: inline;
}
.btn-to-select span.caret:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f107";
}
.bg-primary .nav > li > a {
  color: #fff;
}
.dropdown-menu > li > a {
  padding: 8px 15px;
}
.navbar .navbar-nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 45px;
}
.title-ico {
  margin-top: 4px;
}
/*fix app.css end*/
/*# sourceMappingURL=app.demand.gen.css.map */