<div class="m-t-md instruction"> Select the type of campaign you want to create </div>


<div class="flexbox" style="padding-top:65px">
    <div class="flex"></div>
    <div class="flex panel panel-default bg-white campaign-type-panel">
        <div class="align-center">

            <h2> Websites </h2>

            <div class="chart-data m-t-md"> All sites excluding Facebook </div>

            <div class="action-icon-lg">
                <i class="fa fa-desktop"></i>
            </div>

           <button type="button" ui-sref="ads.campaign.create.campaign_settings" ng-click="setCampaignType('Web')" style="margin-top: 60px; margin-bottom: 40px" class="target-btn inline">Get Started</button>

        </div>
    </div>

    <h2 class="m-h-lg" style="margin-top:180px"> OR </h2>

    <div class="flex panel panel-default bg-white campaign-type-panel">
        <div class="align-center">

            <h2> Facebook </h2>

            <div class="chart-data m-t-md"> News Feed, Right Hand Column and Facebook Mobile </div>

            <div class="action-icon-lg">
                <i class="fa fa-facebook-square"></i>
            </div>

           <button type="button" ui-sref="ads.campaign.create.campaign_settings" ng-click="setCampaignType('Facebook')" style="margin-top: 60px; margin-bottom: 40px" class="target-btn inline">Get Started</button>

        </div>
    </div>
    <div class="flex"></div>
</div>
