<div class="m-h-xs">
    <div class="m-t-lg instruction"> Select ads for this campaign by using the options below. </div>

    <div class="flexbox" style="padding-top:65px">
        <div class="flex"></div>
        <div class="flex panel panel-default campaign-segment-panel bg-white">
            <div class="align-center">

                <div class="instruction m-t-md"> Select From Ad Library </div>

                <div class="action-icon-md">
                    <i class="fa fa-picture-o"></i>
                </div>

               <button type="button" ng-click="showAdLibraryModal()" style="margin-top: 60px; margin-bottom: 25px" class="secondary-btn inline">Select</button>

            </div>
        </div>

        <h2 class="m-h-md" style="margin-top:105px"> OR </h2>

        <div class="flex panel panel-default campaign-segment-panel bg-white">
            <div class="align-center">

                <div class="instruction m-t-md"> Upload New Ad </div>

                <div class="action-icon-md">
                    <i class="fa fa-cloud-upload"></i>
                </div>

               <button type="button" class="secondary-btn inline" style="margin-top: 60px; margin-bottom: 25px" ngf-select="" ng-model="crt.files" ngf-multiple="false" ngf-accept="'*.pdf,*.jpg,*.png'" ngf-change="upload($files, $event, crt)">Upload</button>

            </div>
        </div>
        <div class="flex"></div>
        <div class="infobox flex" style="margin-top:-90px">
            <div class="title p-v-xs"> AD FORMATS </div>
            <div class="content">
                <div class="chart-data align-center m-t-sm"> Supported creative sizes </div>
                <table class="p-h-sm m-t-lg" style="width:100%;border-collapse:inherit">
                    <tbody>
                        <tr>
                            <th style="width:25%"></th>
                            <th style="width:25%"><i class="fa fa-desktop fa-2x"></i></th>
                            <th><i class="fa fa-tablet fa-2x"></i></th>
                            <th><i class="fa fa-mobile fa-2x"></i></th>
                        </tr>
                        <tr>
                            <td>300x250</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>728x90</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>

                        </tr>
                        <tr>
                            <td>160x600</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>

                        </tr>
                        <tr>
                            <td>320x50</td>
                            <td></td>
                            <td></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>300x600</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>

                        </tr>
                        <tr>
                            <td>320x480</td>
                            <td></td>
                            <td></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="align-right p-v-lg m-t-lg">
        <button type="button"  class="secondary-btn inline pull-left" ui-sref="ads.campaign.list">Cancel</button>
        <button type="button"  class="secondary-btn inline m-r-lg" ui-sref="ads.campaign.create.select_segments">Back</button>
        <button type="button"  class="target-btn inline disabled" ui-sref="ads.campaign.create.review" ng-disabled="true">Next</button>
    </div>

</div>




<!--
<ul class="nav nav-sm nav-tabs" ui-nav="">
	<li ui-sref-active="active">
		<a ui-sref="ads.campaign.create.choose_ads.create_new">Create New Ads</a>
	</li>
	<li ui-sref-active="active" ng-if="false">
		<a ui-sref="ads.campaign.create.choose_ads.choose_existing">Choose From Existing Ads</a>
	</li>
</ul>
<div class="p b-a no-b-t bg-white m-b">
	<div ui-view=""></div>
</div>
<a class="btn btn-primary" ng-click="launchNewCampaign($event)">Launch</a> -->