<div class="row">
	<div class="col-md-6">
		<div class="panel b-light" ng-repeat="crt in new_ads.creatives">
			<div class="panel-heading">
				Ads Creative #{{$index + 1}}: {{crt.format.description}}({{crt.format.width}}x{{crt.format.height}})
				<button class="btn btn-icon btn-default pull-right" ng-click="removeCreative(crt)"><i class="fa fa-times"></i></button>
			</div>
			<div class="panel-body">
				<form role="form" class="create-new-ads-form" name="newCreativeForm">
					<div class="form-group">
						<label for="landing-page-url">Landing Page URL</label>
						<input type="url" class="form-control" id="landing-page-url" placeholder="http://www.example.com/landing-page-url" ng-model="crt.landingPageUrl" name="landingPageUrl" required>
					</div>
					<div class="form-group" ng-if="crt.format.socialChannel">
						<label for="title">Title(Less than 14 characters)</label>
						<input type="text" class="form-control" ng-model="crt.title" name="title" ng-maxlength="14" required>
					</div>
					<div class="form-group" ng-if="crt.format.socialChannel">
						<label for="description">Description(Less than 75 characters)</label>
						<input type="text" class="form-control" ng-model="crt.description" ng-maxlength="75" name="description" required>
					</div>
					<div class="form-group" >
						<label for="upload-creative">Upload Creative</label>
						<img ng-src="{{uploadedImageUrl(crt.filename)}}" ng-if="crt.filename" class="m-b creative-preview">
						<div class="btn btn-default" ngf-select="" ng-model="crt.files" class="upload-button" ngf-multiple="false" ngf-accept="'*.pdf,*.jpg,*.png'" tabindex="0" id="upload-creative" ngf-change="upload($files, $event, crt)">Select Image</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel b-l">
			<div class="panel-heading">
				Required Ads Formats
			</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="format in requiredFormats" class="m-b">
						<button class="btn btn-icon btn-primary" ng-click="addCreative(format)" ng-if="format.count < format.requiredCount"><i class="fa fa-plus"></i></button>
						<button class="btn btn-icon btn-success" ng-if="format.count == format.requiredCount"><i class="fa fa-check"></i></button>
						<span>{{format.description}}({{format.width}}x{{format.height}})...({{format.count}}/{{format.requiredCount}})</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>