<div class="m-h-xs">
    <div class="m-t-lg instruction"> Review campaign selections below. Click "LAUNCH CAMPAIGN" to finish. </div>
    <div class="m-h-sm">
        <h2> Summary</h2>
        <div class="container-fluid">
            <div class="row bg-white m-t">
                <div class="col-xs-6 panel review-panel p-h-xl">
                    <div class="review-datum p-v-md m-b-lg">
                        <div class="data-label"> Campaign Name </div>
                        <div class="data-text"> {{launchParameters.name || "NO NAME"}} </div>
                    </div>
                    <div class="review-datum p-v-md m-b-lg">
                        <div class="data-label"> Audience </div>
                        <div class="data-text"> Segment 1 </div>
                    </div>
                    <div class="review-datum p-v-md m-b-lg">
                        <div class="data-label"> Location </div>
                        <div class="data-text"> {{launchParameters.location || "NO LOCATION"}} </div>
                    </div>
                    <div class="review-datum p-v-md m-b-lg">
                        <div class="data-label"> Start Date </div>
                        <div class="data-text"> {{(launchParameters.startDate | date:'shortDate') || "NO START"}} </div>
                    </div>
                    <div class="review-datum p-v-md">
                        <div class="data-label"> Daily Budget </div>
                        <div class="data-text"> {{launchParameters.dailyBudget || "NO BUDGET"}} </div>
                    </div>
                    <div class="review-datum p-v-md">
                        <div class="data-label"> End Date </div>
                        <div class="data-text"> {{(launchParameters.endDate | date:'shortDate') || "NO END"}} </div>
                    </div>
                    <!-- <i class="fa fa-pencil pull-right" style="margin-top:-220px;font-size:22px;color:#666"></i> -->
                </div>
                <div class="col-xs-6 panel review-panel bg-white no-gutter">
                    <div class="align-center m-v-lg" style="border-left:1px solid #666">
                        <div class="data-label align-center m-b-md">
                            Ads
                        </div>
                        <div class="panel panel-default bg-white p-h-md" style="position: relative;">
                            <div class="table-crud-row align-left">
                                <div class="table-crud-text" style="border-right: 0px">
                                    <i class="fa fa-plus-circle"></i>
                                Upload New Ad
                                </div>
                            </div>
                            <loading ng-show="adLibrary.loading==true"></loading>
                            <table st-table="adLibrary.adList" class="table table-striped aligned-font ad-library-table">
                                <thead>
                                    <tr class="ad-library-header">
                                        <th ng-repeat="row in adLibrary.tableHeader" class="{{row.align}}">
                                            <a href=""
                                               ng-click="adLibrary.sortKey = '{{row.dbkey}}'; adLibrary.orderBy('{{row.dbkey}}', row.reverse);row.reverse=!row.reverse;">{{row.name}}
                                                <i ng-show="adLibrary.sortKey != '{{row.dbkey}}'" class="fa fa-sort"></i>
                                                <i ng-show="adLibrary.sortKey == '{{row.dbkey}}' && !row.reverse"
                                                   class="fa fa-sort-up"></i>
                                                <span ng-show="adLibrary.sortKey == '{{row.dbkey}}' && row.reverse"
                                                      class="fa fa-sort-down"></span>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-hide="adLibrary.adList[0].imageSrc==''" ng-repeat="row in adLibrary.adList">
                                        <td class="text-center">
                                            <img ng-src="{{row.imageSrc}}" />
                                            <div class="m-t-sm table-text">{{row.size}}</div>
                                        </td>
                                        <td class="text-center">
                                            Ad Name
                                        </td>
                                        <td class="text-center">
                                            www.example.com
                                        </td>
                                        <td class="text-center table-text">{{row.created}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="align-right p-v-lg m-t-lg">
        <button type="button"  class="secondary-btn inline pull-left" ui-sref="ads.campaign.list">Cancel</button>
        <button type="button"  ng-click="launchCampaign();" class="target-btn inline m-r-md">Launch Campaign</button>
    </div>
</div>



<!-- <h1>Current State: {{state.name}}</h1>

<div class="panel">
	<div class="panel-heading b-b b-light">
		<span class="font-bold">1. Campaign Settings</span>
		<a ui-sref="ads.campaign.create.new_accounts" class="pull-right">edit</a>
	</div>
	<div class="panel-body">
		<p>Name: {{new_ads.campaign.name}}</p>
		<p>Weekly Budget: {{new_ads.campaign.weeklyBudget}}</p>
		<p>Period: {{new_ads.campaign.startDate}} - {{new_ads.campaign.endDate}}</p>
	</div>
</div>

<div class="panel">
	<div class="panel-heading b-b b-light">
		<span class="font-bold">2. Targets</span>
		<a ui-sref="ads.campaign.create.select_target_account" class="pull-right">edit</a>
	</div>
	<div class="panel-body">
		<p ng-if="isLeadGenAutoMode">Using auto mode, targeting {{new_ads.targets.length}} accounts.</p>
		<p ng-if="!isLeadGenAutoMode">Using manual mode, targeting {{new_ads.targets.length}} accounts.</p>
	</div>
</div>

<div class="panel">
	<div class="panel-heading b-b b-light">
		<span class="font-bold">3. Ads</span>
		<a ui-sref="ads.campaign.create.choose_ads" class="pull-right">edit</a>
	</div>
	<div class="panel-body">
		<p>Name: {{new_ads.ads.name}}</p>
		<p>Creative</p>
		<img ngf-src="new_ads.ads.files[0]" ng-show="new_ads.ads.files[0].type.indexOf('image') > -1" ngf-accept="'image/*'" class="m-b">

	</div>
</div>

<a class="btn btn-primary" ng-click="launchNewCampaign($event)">Launch</a>
<a class="btn btn-default pull-right">Cancel</a> -->