<div class="p-v-sm m-t pos-rlt clear">
    <h1 class="no-margin">
        <div class="pull-left title-ico"><i class="ui-icon fa fa-bullhorn"></i></div>
        <div class="pull-left title-text">Insights over the last 30 days</div>
    </h1>
</div>

<ul class="nav nav-tabs m-t-md" ui-nav="">
    <li class="active">
        <a href="#/ads/visits/accounts">Accounts</a>
    </li>
    <li class="">
        <a href="#/ads/visits/people">People</a>
    </li>
</ul>

<div class="row m-t-md">
    <div class="col-sm-4">
        <h2>Current Addressable Market</h2>
        <div ng-cloak class="panel panel-default bg-white chart-account-visits" style="height:430px;">
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Engagement</h2>
        <div ng-cloak class="panel panel-default bg-white chart-account-engagement"
             style="height:430px;">
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Predictive Addressable Market</h2>
        <div class="panel panel-default bg-white " style="height:430px;">
            <div class="chart-expansion">
                <div class="chart-title">
                    <div class='aligned-font'>We've expanded your Current Addressable Market
                        based on your most highly engaged accounts.
                    </div>
                </div>
                <div class="simple-bar m-t">
                    <div class="simple-bar-title  m-v-xs">
                        Number of Highly Engaged Accounts: {{engagementLevelAmounts.high}}
                    </div>
                    <div class="simple-bar-cont">
                        <div class="bar-cont" style="width:{{sliderBarWidth()}}%;">
                            <span class="m-r-xs" ng-if="sliderTextPositionRight()">{{engagementLevelAmounts.high}}</span>
                        </div>
                        <div class="bar-label">
                            <span class="m-l-xs" ng-if="sliderTextPositionLeft()">{{engagementLevelAmounts.high}}</span>
                        </div>
                    </div>
                </div>

                <div class="simple-bar m-t-lg">
                    <div class="simple-bar-title m-v-xs">
                        Predicted Accounts Multiplier
                        <div class="pull-right" style="opacity:{{(expansionFactor-1)/5}}">
                            Quality Dilution
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </div>
                    <div class="simple-bar-cont">
                        <div class="bar-cont"
                            style="width:{{(expansionFactor-1)*25}}%;background-color:#666;">
                            <span class="m-r-xs"
                                  ng-if="expansionFactor>expansionFactorMax/2">{{expansionFactor}}x</span>
                        </div>
                        <div class="bar-label">
                            <span class="m-l-xs"
                                  ng-if="expansionFactor<=expansionFactorMax/2">{{expansionFactor}}x</span>
                        </div>
                    </div>
                    <div class="es-slider-div">
                        <input ng-model="expansionFactor" type="text" id="mySlider1" slider options="sliderOptions"
                               style="display:none;"/>
                    </div>
                </div>
                <div class="align-center">
                    <div class="panel b-a pos-rlt inline center m-v-sm">
                        <div class="panel-body">
                            Daily Budget
                            <div>${{expansionFactor | number : 1}}K</div>
                        </div>
                    </div>
                </div>

                <div class="align-center m-t-sm">
                    <button type="button" class="target-btn inline m-h-lg" ng-click="showModal(0)">Create Segment</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Top Accounts</h2>
        <div class="panel panel-default bg-white" style="position: relative;">
            <loading ng-show="domainList.loading==true"></loading>
            <table st-table="domainList.compList" class="table table-striped aligned-font">
                <thead>
                <tr>
                    <th ng-repeat="row in domainList.tableHeader" class="{{row.align}}">
                        <a href=""
                           ng-click="domainList.sortKey = '{{row.dbkey}}'; domainList.orderBy('{{row.dbkey}}', row.reverse);row.reverse=!row.reverse;">{{row.name}}
                            <i ng-show="domainList.sortKey != '{{row.dbkey}}'" class="fa fa-sort"></i>
                            <i ng-show="domainList.sortKey == '{{row.dbkey}}' && !row.reverse"
                               class="fa fa-sort-up"></i>
                            <span ng-show="domainList.sortKey == '{{row.dbkey}}' && row.reverse"
                                  class="fa fa-sort-down"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide="domainList.metrics[0].name=='' || $index>=10" ng-repeat="row in domainList.metrics">


                    <td class="text-left big-text">{{row.domain}}</td>
                    <td class="text-center">{{row.page_view | number:0}}</td>

                    <td class="text-center">{{(row.stay/60 | number:0) || 0}}</td>
                    <td class="text-center" style="padding-top:1px;padding-bottom:1px;">
                        <div class="pie-div">
                            <div easypiechart options="row.options" percent="row.score || 0" class="easyPieChart">
                                <div class="score-value-small text-black">
                                    {{(row.score | number:0) || '--'}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">{{row.visits | number:0}}</td>
                </tr>
                </tbody>
            </table>
            <!-- Pagination taken out temporarily for demo
            <div class="pull-right ">
                <ui-pagination config="domainList"/>
            </div>
            -->
        </div>
    </div>
</div>