<ul>
    <li>{{i18n "home.device.device_name"}}:<em>{{getDeviceName}}</em></li>
    <li>Color:<em class="color" style="background: {{color}}"></em></li>
    <li>S/N:<em>{{sn}}</em></li>
    <li>Version:<em>{{version}}</em></li>
    <li>Activated:<em>{{actived}}</em></li>
    <li>Battery:<em>{{battery}}%</em>{{#isCharging}}(Charging){{/isCharging}}</li>
    <li>Jailbreaked:<em>{{breaked}}</em></li>
    <li><a draggable="false" href="#" class="more-detail btn btn-light">Detail</a></li>
</ul>