{{#if stepOne}}
<div class="repair-flash">
    <p class="repair-tip-start">
        Are you sure you want to install iGenie for iOS now?
    </p>
    <div class="dialog-footer">
        <a draggable="false" href="#" data-dismiss="dialog" class="btn btn-deep install-iGenie">OK</a>
        <a draggable="false" href="#" data-dismiss="dialog" class="btn btn-light">Cancel</a>
    </div>
</div>
{{/if}}