
<div class="r-app-network-p">
    <div class="r-app-network">
        <p class="f18">Bad network connection. Please check your network.</p>
        <span class="pic"></span>
        <button class="retry js-retry">Retry</button>
    </div>
</div>