<!-- header -->
<header id="header" ng-include=" 'views/header.html' " class="app-header navbar {{app.settings.headerColor}}"
        role="menu">
</header>
<!-- / header -->


<div id="content" class="app-content" role="main">

    <div class="container">
        <div class="center-block w-xl w-auto-xs m-b-lg">
            <div class="m-v-lg text-2x text-center">
                Sign In
            </div>

            <div class="panel b-a " style="padding:22px 12%;">

                <div class="title-ico text-2x text-center m-b-lg"><i class="ui-icon fa fa-lock"></i></div>
                <form name="form" class="big-login">
                    <div class="form-group m-b-xs">
                        <label class="">Email</label>
                        <input type="email" placeholder="Someone@example.com" class="form-control" ng-model="user.email"
                               required>
                    </div>
                    <div class="form-group m-b-xs">
                        <label class="">Password</label>
                        <input type="password" placeholder="Password" class="form-control" ng-model="user.password"
                               required>
                    </div>
                    <div class="checkbox text-right">
                        <label class="ui-checks">
                            <input type="checkbox"><i></i> Keep me signed in
                        </label>
                    </div>
                    <div class="text-center">
                            <button type="submit" class="btn btn-info btn-lg btn-rounded p-h-md m-t-lg" style="padding:20px 60px;">Sign in</button>
                    </div>
                    <p class="text-center m-t"><a class="link-grey" ui-sref="forgot-password">Forgot password?</a></p>

                    <!--<p class="m-v-lg text-sm">Do not have an account? <a ui-sref="signup">Create an account</a></p>-->
                </form>

            </div>
        </div>
    </div>
</div>