<div class="i-scr-prx">
    <div class="i-scr-prx-body">
        <div class="i-scr-prx-content">
        </div>
        <div class="i-scr-prx-scroller">
            <div class="i-line"></div>
        </div>
    </div>
</div>