<div class="p-v-xs m-v pos-rlt clear">
    <h1 class="no-margin">
        <div class="pull-left title-ico"><i class="ui-icon fa fa-dashboard"></i></div>
        <div class="pull-left title-text">Campaign Dashboard</div>
    </h1>
</div>
<div class="m-t-md">
    <div class="panel panel-default panel-grey">
        <div class="p-v p-h">
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group" style="margin-top:15px;">
                            <label class="col-xs-2 control-label text-u-c"><i
                                    class="fa fa-bullhorn big-icon"></i></label>

                            <div class="col-xs-10">
                                <ui-select ng-model="camp.selected" theme="bootstrap"
                                           on-select="changeCampTarget($item, $model)">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected.campaignName}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'group'"
                                                       repeat="item in campList | filter: $select.search">
                                        <span ng-bind-html="item.campaignName | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group" style="margin-top:15px;">
                            <label class="col-xs-2 control-label text-u-c"><i
                                    class="fa fa-calendar big-icon"></i></label>

                            <div class="col-xs-10">
                                <ui-select ng-model="dateRange.selected" theme="bootstrap"
                                           on-select="changeDateRange($item, $model)">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'group'"
                                                       repeat="item in dateRange.list ">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        <!-- <small ng-bind-html="item.value | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<ul class="nav nav-tabs m-t-md" ui-nav="">
    <li class="active">
        <a href="#/ads/campaign/campOverview?id=1">Accounts</a>
    </li>
    <li class="">
        <a href="#/ads/campaign/people?id=1">People</a>
    </li>
</ul>


<!-- Total Addressable Market-->
<h2>
    Total Addressable Market
</h2>
<div class="row">
    <div class="overview-panel flexbox m-l">
        <div class="item flex m-r p-v">
            <label class="card-label">NET NEW</label>

            <p class="data-text">800</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">TOTAL</label>

            <p class="data-text">1,201</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">COST/NET NEW</label>

            <p class="data-text">&#36;4.02</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CONVERSIONS</label>

            <p class="data-text">7</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">TOTAL CONVERSIONS</label>

            <p class="data-text">1,201</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">COST/CONVERSION</label>

            <p class="data-text">&#36;23.21</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="market-panel flexbox m-l m-t-md">
        <div class="item flex m-r">
            <div class="flexbox">
                <div class="icon-wrap wrap-eye">
                    <i class="fa fa-eye"></i>
                </div>
                <div class="flex">
                    <p class="table-text">50K Impressions from<br> 170 companies</p>
                </div>
            </div>
        </div>
        <div class="item flex m-r">
            <div class="flexbox">
                <div class="icon-wrap wrap-hand">
                    <i class="fa fa-hand-o-up"></i>
                </div>
                <div class="flex">
                    <p class="table-text">20K Clicks from<br> 102 accounts</p>
                </div>
            </div>
        </div>
        <div class="item flex m-r">
            <div class="flexbox">
                <div class="icon-wrap wrap-globe">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="flex">
                    <p class="table-text">5K Visits from<br> 50 accounts</p>
                </div>
            </div>
        </div>
        <div class="item flex m-r">
            <div class="flexbox">
                <div class="icon-wrap wrap-dollar">
                    <i class="fa fa-dollar"></i>
                </div>
                <div class="flex">
                    <p class="table-text">500 conversions from<br> 28 accounts</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top Performers-->
<h2>
    Top Performers (Clicks)
</h2>

<div class="row">
    <div class="col-sm-3">
        <div class="">
            <h4>Industry</h4>
            <div class="chart-panel item   p-v p-h top-performer">
                <div class="b1 flexbox m-b-sm " ng-repeat="row in topIndustry">
                    <div class="serial">{{$index+1}}</div>
                    <div class="title flex p-h-sm">{{row.name}}</div>
                    <div class="num">{{row.count}}</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
        <h4>Revenue</h4>
        <div class="chart-panel  p-v p-h" id="chart-revenue"></div>
    </div>
    <div class="col-sm-3">
        <h4>Employees</h4>
        <div class="chart-panel  p-v p-h" id="chart-employee"></div>
    </div>
    <div class="col-sm-3">
        <h4>Location</h4>
        <div class="chart-panel  p-v p-h top-performer" >
            <div class="b1 flexbox m-b-sm" ng-repeat="row in topLocation">
                <div class="serial">{{$index+1}}</div>
                <div class="title flex p-h-sm">{{row.name}}</div>
                <div class="num">{{row.count}}</div>
            </div>

        </div>
    </div>
</div>




<!--
<div class="row m-t-md" ng-show="camp.loading==false" ng-animate="'animate'">
    <div class="col-sm-4">
        <div class="panel-heading-left0">Total Addressable Market (Accounts)</div>
        <div class="panel panel-default bg-white grouped-by-grade-container">
            <loading ng-show="groupedByGradeLoading"></loading>
            <table class="fit-grade-insight-table">
                <tr>
                    <th></th>
                    <th>accounts</th>
                    <th>clicks</th>
                    <th>ctr</th>
                    <th>cpc</th>
                </tr>
                <tr ng-class="'grade-' + g.grade" ng-repeat="g in grouped_by_grade_insights">
                    <td class="grade-col">{{g.grade}}</td>
                    <td>{{g.account_cnt | megaNumber:1 }}</td>
                    <td>{{g.click_cnt | megaNumber:1 }}</td>
                    <td>{{g.ctr * 100 | number:2 }}%</td>
                    <td class="rounded-right">{{g.cpc | currency}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-sm-5 ">
        <div class="panel-heading-left0 ">All Accounts
        </div>
        <div class="panel panel-default bg-white funnel-panel">
            <loading ng-show="funnel.loading==true"></loading>
            <div class="p-v p-h" style=" overflow: hidden;">
                <table style="width: 100%; ">
                    <tr >
                        <td class="p-v-sm funnel-left" style="width: 50%;border-right:none;">
                            <div class="text-center text-u-c">Target Accounts <span
                            class="text-blue big-text">{{funnel.targetComp}} </span></div>
                        </td>
                        <td class="p-v-sm" style="width: 50%;">
                            <div class="text-center text-u-c">Audience</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-v-sm funnel-left">
                            <div class="text-right">
                                <span class="btn btn-rounded btn-info btn-no-hover no-r-r text-right"
                                    style="width: 100%;"><div class="pull-right btn-text">{{(funnel.compFound ) | megaNumber:1}}
                                        Found
                                    </div>
                                </span>
                            </div>
                        </td>
                        <td class="p-v-sm funnel-right">
                            <div class="text-left">
                                <div class="btn btn-rounded btn-info btn-no-hover no-r-l  text-left" style="width: 100%;">
                                    <div class="pull-left too-small-hide"><i class="fa fa-eye   m-r-sm"></i></div>
                                    <div class="pull-left btn-text">{{funnel.peopleImp | megaNumber:1}} Impressions</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-v-sm funnel-left">
                            <div class="text-right">
                                <span class="btn btn-rounded btn-info btn-no-hover no-r-r text-right"
                                    style="width: 92%;"><div class="pull-right btn-text">{{funnel.compInterested | megaNumber:1}} Interested
                                    </div>
                                </span>
                            </div>
                        </td>
                        <td class="p-v-sm funnel-right">
                            <div class="text-left">
                                <div class="btn btn-rounded btn-info btn-no-hover no-r-l  text-left" style="width: 92%;">
                                    <div class="pull-left  too-small-hide"><i class="fa fa-hand-o-up  m-r-sm"></i></div>
                                    <div class="pull-left btn-text">{{funnel.peopleClicks | megaNumber:1}} Clicks</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-v-sm funnel-left" ng-class="{'funnel-grey': !showEngagement}">
                            <div class="text-right">
                                <span class="btn btn-rounded btn-info btn-no-hover no-r-r text-right"
                                    style="width: 84%;"><div class="pull-right btn-text">{{funnel.compEngaged | megaNumber:1}} Engaged
                                    </div>
                                </span>
                            </div>
                        </td>
                        <td class="p-v-sm funnel-right" ng-class="{'funnel-grey': !showEngagement}">
                            <div class="text-left">
                                <div class="btn btn-rounded btn-info btn-no-hover no-r-l  text-left" style="width: 84%;">
                                    <div class="pull-left too-small-hide"><i class="fa fa-user  m-r-sm"></i></div>
                                    <div class="pull-left btn-text"> {{funnel.peopleEngaged | megaNumber:1}} Engaged</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-v-sm funnel-left " ng-class="{'funnel-grey': !showConversion}"  style="padding-bottom: 0;">
                            <div class="text-right">
                                <span class="btn btn-rounded btn-info btn-no-hover no-r-r text-right"
                                    style="width: 76%;"><div class="pull-right btn-text">{{funnel.compSold | megaNumber:1}}
                                        Converted
                                    </div>
                                </span>
                            </div>
                        </td>
                        <td class="p-v-sm funnel-right " ng-class="{'funnel-grey': !showConversion}" style="padding-bottom: 0;">
                            <div class="text-left">
                                <div class="btn btn-rounded btn-info btn-no-hover no-r-l  text-left" style="width: 76%;">
                                    <div class="pull-left too-small-hide"><i class="fa fa-dollar  m-r-sm"></i></div>
                                    <div class="pull-left btn-text"> {{funnel.peopleConv | megaNumber:1}} Converted</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-v-sm" style="height: 27px;">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel-heading-left0">Spend (All time)</div>
        <div class="panel panel-default">
            <loading ng-show="spendTotals.loading==true"></loading>
            <div class="panel no-border panel-info b-l-success b-l-8x m-b">
                <div class="panel-body">
                    <div class="upper-title-small text-center">Spend</div>
                    <div class="black-num text-center">${{spendTotals.spend | number : 0}}</div>
                </div>
            </div>
            <div class="panel no-border panel-info b-l-success b-l-8x m-b">
                <div class="panel-body">
                    <div class="upper-title-small text-center">Remaining</div>
                    <div class="black-num text-center">${{spendTotals.remaining | number : 0}}</div>
                </div>
            </div>
            <div class="panel no-border panel-info b-l-success b-l-8x m-b">
                <div class="panel-body">
                    <div class="upper-title-small text-center">CPC</div>
                    <div class="black-num text-center">${{spendTotals.cpc | number : 2}}</div>
                </div>
            </div>
            <div class="panel no-border panel-info b-l-success  b-l-8x m-b" ng-class="{'b-l-grey': !showConversion}">
                <div class="panel-body">
                    <div class="upper-title-small text-center">CAC</div>
                    <div class="black-num text-center">${{spendTotals.cac | number : 2}}</div>
                </div>
            </div>
            <div class="panel no-border panel-info b-l-success  b-l-8x m-b" ng-class="{'b-l-grey': !showConversion}">
                <div class="panel-body">
                    <div class="upper-title-small text-center">Ave conv.rate</div>
                    <div class="black-num text-center">{{spendTotals.convRate * 100 | number : 2}}%</div>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<div ng-show="camp.loading==false">
<h2>
    <div class="panel-heading-left0 m-v">Accounts</div></h2>
    <div class="table-crud-row">
        <div class="table-crud-text" ng-href="{{cList.csvUrl()}}">
            Download CSV
        </div>
        <div class="table-search">
            <span ng-click="cList.getList();" class="fa fa-search form-control-search"></span>
            <span ng-click="cList.clearKey();" class="fa fa-close form-search-clear"></span>
            <input ng-keyup="cList.startSearch($event);" type="text"
                    class="form-control rounded"
                    ng-model="cList.filter.searchKey">
        </div>
    </div>
    <div class="panel panel-default bg-white" style="position: relative;">
        <loading ng-show="cList.loading==true"></loading>
        <table st-table="cList.compList" class="table table-striped aligned-font">
            <thead>
            <tr>
                <th ng-repeat="row in cList.tableHeader" class="{{row.align}}" ng-if="row.show">
                    <a href=""
                       ng-click="cList.sortKey = '{{row.dbkey}}'; cList.orderBy('{{row.dbkey}}', row.reverse);row.reverse=!row.reverse;">{{row.name}}
                        <i ng-show="cList.sortKey != '{{row.dbkey}}'" class="fa fa-sort"></i>
                        <i ng-show="cList.sortKey == '{{row.dbkey}}' && !row.reverse" class="fa fa-sort-up"></i>
                        <span ng-show="cList.sortKey == '{{row.dbkey}}' && row.reverse" class="fa fa-sort-down"></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="cList.compList[0].name==''" ng-repeat="row in cList.compList">
                <td><a class="big-text ng-binding" ng-click="showCompanyDetails(row)">{{row.name}}</a></td>
                <td class="text-right">{{(row.reaches | number:0) || '--'}}</td>
                <td class="text-right">{{(row.impressions | number:0) || '--'}}</td>
                <td class="text-right">{{(row.clicks | number:0) || '--'}}</td>
                <td ng-if="showEngagement" class="text-center" style="padding-top:1px;padding-bottom:1px;">
                    <div class="pie-div">
                        <div easypiechart options="row.options" percent="row.engage || 0" class="easyPieChart">
                            <div class="score-value-small text-black">
                                {{row.engage}}
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-right" ng-if="showConversion">{{(row.conversions | number:0) || '--'}}</td>
                <td class="text-right">{{(row.ctr*100 | number:2) || '--'}}%</td>
                <td class="text-right">${{(row.cpm | number:2) || '--'}}</td>
                <td class="text-right">${{(row.cpc | number:2) || '--'}}</td>
                <td class="text-right">${{(row.spend | number:2) || '--'}}</td>
                <!--<td class="text-right">${{row.budget | number:0}}</td>-->
            </tr>
            </tbody>
        </table>
        <div class="pull-right ">
            <!-- <pagination total-items="cList.bigTotalItems" ng-model="cList.bigCurrentPage" max-size="cList.maxSize"
                items-per-page="cList.pageSize" ng-change="cList.pageChanged()"
                class="pagination-sm pull-left" boundary-links="true" rotate="false"
            num-pages="cList.numPages"></pagination>
            <div class="pull-left input-group m-v-md m-l">
                <div class="form-group">
                    <div class="input-group pagination-sm">
                        <div class="btn input-sm">Total: {{cList.totalPages}}</div>
                    </div>
                </div>
            </div>
            <div class="pull-left input-group m-v-md" style="width: 84px;">
                <div class="form-group">
                    <div class="input-group pagination-sm">
                        <input ng-keyup="cList.gotoPage($event)" class="form-control input-sm" type="text"
                        placeholder="page" ng-model="cList.bigCurrentPage">
                        <div ng-click="cList.getList()" class="input-group-addon input-sm btn">Go</div>
                    </div>
                </div>
            </div> -->
            <ui-pagination config="cList"/>
            <!--<tm-pagination conf="cList.paginationConf"></tm-pagination>-->
        </div>
    </div>
</div>