<div class="p-v-sm m-t pos-rlt clear">
    <h1 class="no-margin">
        <div class="pull-left title-ico"><i class="ui-icon fa fa-bullhorn"></i></div>
        <div class="pull-left title-text">All Campaigns</div>
        <a sref="ads.campaign.create.create_campaign"></a>
    </h1>
</div>
<div class="m-t-md">
    <div class="panel panel-default panel-grey">
        <div class="p-v">
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-sm-4">
                        <div class="form-group" style="margin-top:15px;">
                            <label class="col-sm-2 control-label text-u-c"><i
                                    class="fa fa-calendar big-icon"></i></label>

                            <div class="col-sm-9">
                                <ui-select ng-model="dateRange.selected" theme="bootstrap"
                                           on-select="changedateRange($item, $model)">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'group'"
                                                       repeat="item in dateRange.list ">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        <!-- <small ng-bind-html="item.value | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="overview-panel flexbox m-l">
        <div class="item flex m-r p-v">
            <label class="card-label">IMPRESSIONS</label>
            <p class="data-text">{{campaignSum.imp | number:0}}</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CLICKS</label>
            <p class="data-text">{{campaignSum.clicks | number:0}}</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CTR</label>
            <p class="data-text">{{campaignSum.ctr*100 | number:2}}%</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CPM</label>
            <p class="data-text">&#36;{{campaignSum.cpm | number:2}}</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CPC</label>
            <p class="data-text">&#36;{{campaignSum.cpc | number:2}}</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CPA</label>
            <p
            class="data-text">NA</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">NET NEW</label>
            <p class="data-text">NA</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CONV</label>
            <p class="data-text">NA</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">SPEND</label>
            <p class="data-text">&#36;{{campaignSum.spend | number:0}}</p>
        </div>
    </div>
</div>
<div class="chart-panel m-t-md" id="chart-panel" style="height:350px;"></div>
<div class="row">
    <div class="col-sm-12 m-t-lg">
        <div class="table-crud-row">
            <div class="table-crud-text" ui-sref="ads.campaign.create.campaign_type">
                <i class="fa fa-plus-circle"></i>
                Create Campaign
            </div>
            <div class="table-crud-text" ng-href="{{campaignList.csvUrl()}}">
                Download CSV
            </div>

            <div class="table-search">
                <span ng-click="campaignList.getList();" class="fa fa-search form-control-search"></span>
                <span ng-click="campaignList.clearKey();" class="fa fa-close form-search-clear"></span>
                <input ng-keyup="campaignList.startSearch($event);" type="text"
                        class="form-control rounded"
                        ng-model="campaignList.filter.searchKey">

            </div>

        </div>
        <div class="panel panel-default bg-white" style="position: relative;">
            <loading ng-show="campaignList.loading==true"></loading>
            <table st-table="campaignList.list" class="table table-striped aligned-font">
                <thead>
                <tr>
                    <th ng-repeat="row in campaignList.tableHeader" class="{{row.align}}">
                        <a href=""
                           ng-click="campaignList.sortKey = '{{row.dbkey}}'; campaignList.orderBy('{{row.dbkey}}', row.reverse);row.reverse=!row.reverse;">{{row.name}}
                            <i ng-show="campaignList.sortKey != '{{row.dbkey}}'" class="fa fa-sort"></i>
                            <i ng-show="campaignList.sortKey == '{{row.dbkey}}' && !row.reverse"
                               class="fa fa-sort-up"></i>
                            <span ng-show="campaignList.sortKey == '{{row.dbkey}}' && row.reverse"
                                  class="fa fa-sort-down"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide="campaignList.list[0].name==''" ng-repeat="row in campaignList.list">
                    <td><a ui-sref="ads.campaign.show({ id: row.id })" class="big-text">{{row.campaignName }}</a></td>
                    <td>
                        <div class="ui-switch-md-cell" ng-if="row.status != 'CLOSED'">
                            <label class="ui-switch ui-switch-md bg-info m-t-xs">
                                <input type="checkbox" ng-init="row.status = 'ACTIVE'" ng-checked="row.status == 'ACTIVE'"
                                       ng-click="toggleCampaignStatus(row)">
                                <i></i>
                            </label>
                        </div>

                        <span class="campaign-status-cell" ng-if="row.status == 'CLOSED'">
                            <i class="ui-icon fa fa-check-circle-o"></i>
                        </span>
                    </td>
                    <td class="text-right">{{row.imp | number:0}}</td>
                    <td class="text-right">{{row.clicks | number:0}}</td>
                    <td class="text-right">{{row.ctr*100 | number:2}}%</td>
                    <td class="text-right">{{(row.cpm | currency:"$":2) }}</td>
                    <td class="text-right">{{(row.cpc | currency:"$":2) || "--"}}</td>
                    <td class="text-right">{{(row.spend | currency:"$":2)  || "--" }}</td>
                    <td class="text-right">{{(row.budget | currency:"$":0)  }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>