<div class="p-v-xs m-v pos-rlt clear">
    <h1 class="no-margin">
        <div class="pull-left title-ico"><i class="ui-icon fa fa-dashboard"></i></div>
        <div class="pull-left title-text">Campaign Dashboard</div>
        <a sref="ads.campaign.create.create_campaign"></a>
    </h1>
</div>


<div class="m-t-md">
    <div class="panel panel-default panel-grey">
        <div class="p-v p-h">
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group" style="margin-top:15px;">
                            <label class="col-xs-2 control-label text-u-c"><i
                                    class="fa fa-bullhorn big-icon"></i></label>

                            <div class="col-xs-10">
                                <ui-select ng-model="camp.selected" theme="bootstrap"
                                           on-select="changeCampTarget($item, $model)">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected.campaignName}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'group'"
                                                       repeat="item in campList | filter: $select.search">
                                        <span ng-bind-html="item.campaignName | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group" style="margin-top:15px;">
                            <label class="col-xs-2 control-label text-u-c"><i
                                    class="fa fa-calendar big-icon"></i></label>

                            <div class="col-xs-10">
                                <ui-select ng-model="dateRange.selected" theme="bootstrap"
                                           on-select="changeDateRange($item, $model)">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'group'"
                                                       repeat="item in dateRange.list ">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        <!-- <small ng-bind-html="item.value | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<ul class="nav nav-tabs m-t-md" ui-nav="">
    <li class="">
        <a href="#/ads/campaign/campOverview?id=1">Accounts</a>
    </li>
    <li class="active">
        <a href="#/ads/campaign/people?id=1">People</a>
    </li>
</ul>

<!-- Total Addressable Market-->
<h2>
    Total Addressable Market
</h2>
<div class="row">
    <div class="overview-panel flexbox m-l">
        <div class="item flex m-r p-v">
            <label class="card-label">IMPRESSIONS</label>

            <p class="data-text">82,200</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CLICKS</label>

            <p class="data-text">1,201</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CTR</label>

            <p class="data-text">&#36;4.02</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CPM</label>

            <p class="data-text">$2</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CPC</label>

            <p class="data-text">$1.03</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">SPEND</label>

            <p class="data-text">&#36;232,1</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">NET NEW</label>

            <p class="data-text">23,332</p>
        </div>
        <div class="item flex m-r p-v">
            <label class="card-label">CONV</label>

            <p class="data-text">234</p>
        </div>
    </div>
</div>


<div class="chart-panel m-t-md" id="chart-panel" style="height:350px;"></div>


<div class="row m-t-md">
    <div class="col-sm-12">
        <h2>
            Ads
        </h2>

        <div class="panel panel-default bg-white" style="position: relative;">
            <loading ng-show="campaignList.loading==true"></loading>
            <table st-table="campaignList.compList" class="table table-striped aligned-font">
                <thead>
                <tr>
                    <th ng-repeat="row in campaignList.tableHeader" class="{{row.align}}">
                        <a href=""
                           ng-click="campaignList.sortKey = '{{row.dbkey}}'; campaignList.orderBy('{{row.dbkey}}', row.reverse);row.reverse=!row.reverse;">{{row.name}}
                            <i ng-show="campaignList.sortKey != '{{row.dbkey}}'" class="fa fa-sort"></i>
                            <i ng-show="campaignList.sortKey == '{{row.dbkey}}' && !row.reverse"
                               class="fa fa-sort-up"></i>
                            <span ng-show="campaignList.sortKey == '{{row.dbkey}}' && row.reverse"
                                  class="fa fa-sort-down"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left ng-binding">AD1</td>
                    <td class="text-center ng-binding">
                        <div class="text-left">
                            <label class="ui-switch ui-switch-md bg-info m-t-xs">
                                <input type="checkbox" ng-init="row.status = 'ACTIVE'"
                                       ng-checked="row.status == 'ACTIVE'"
                                       ng-click="toggleCampaignStatus(row)">
                                <i></i>
                            </label>
                        </div>
                    </td>
                    <td class="text-center ng-binding">729&times;90</td>
                    <td class="text-right ng-binding">2</td>
                    <td class="text-right ng-binding">0.9%</td>
                    <td class="text-right ng-binding">$3.2</td>
                    <td class="text-right ng-binding">$2.2</td>
                    <td class="text-right ng-binding">$1.2</td>
                    <td class="text-right ng-binding">$13.2</td>
                    <td class="text-right ng-binding">23</td>
                    <td class="text-right ng-binding">$231</td>
                </tr>
                <tr>
                    <td class="text-left ng-binding">AD2</td>
                    <td class="text-center ng-binding">
                        <div class="text-left">
                            <label class="ui-switch ui-switch-md bg-info m-t-xs">
                                <input type="checkbox" ng-init="row.status = 'ACTIVE'"
                                       ng-checked="row.status == 'ACTIVE'"
                                       ng-click="toggleCampaignStatus(row)">
                                <i></i>
                            </label>
                        </div>
                    </td>
                    <td class="text-center ng-binding">729&times;90</td>
                    <td class="text-right ng-binding">2</td>
                    <td class="text-right ng-binding">0.9%</td>
                    <td class="text-right ng-binding">$3.2</td>
                    <td class="text-right ng-binding">$2.2</td>
                    <td class="text-right ng-binding">$1.2</td>
                    <td class="text-right ng-binding">$13.2</td>
                    <td class="text-right ng-binding">23</td>
                    <td class="text-right ng-binding">$231</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row m-t-md">
    <div class="col-sm-12">
        <h2>
            Conversions
        </h2>

        <div class="panel panel-default bg-white" style="position: relative;">
            <table st-table="" class="table table-striped aligned-font">
                <thead>
                <tr>
                    <th ng-repeat="row in convList.tableHeader" class="{{row.align}}">
                        <a href=""
                           ng-click="convList.sortKey = '{{row.dbkey}}'; convList.orderBy('{{row.dbkey}}', row.reverse);row.reverse=!row.reverse;">{{row.name}}
                            <i ng-show="convList.sortKey != '{{row.dbkey}}'" class="fa fa-sort"></i>
                            <i ng-show="convList.sortKey == '{{row.dbkey}}' && !row.reverse"
                               class="fa fa-sort-up"></i>
                            <span ng-show="convList.sortKey == '{{row.dbkey}}' && row.reverse"
                                  class="fa fa-sort-down"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td class="text-left ng-binding">Seg1</td>
                    <td class="text-center ng-binding">11</td>
                    <td class="text-center ng-binding">233</td>
                    <td class="text-center ng-binding">6%</td>
                </tr>
                <tr>

                    <td class="text-left ng-binding">Seg2</td>
                    <td class="text-center ng-binding">77</td>
                    <td class="text-center ng-binding">256</td>
                    <td class="text-center ng-binding">7%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>