<div class="p-h p-v-xs m-t-md m-b-lg pos-rlt clear">
    <h1 class="no-margin">
        <div class="pull-left title-ico"><i class="ui-icon fa fa-dashboard"></i></div>
        <div class="pull-left title-text">Diagnosis  Edit</div>
    </h1>
</div>
<div lazy-load="angularBootstrap"></div>


<div ng-animate="'animate'">
    <div class="col-sm-12 ">
        <div class="panel-heading-left0 ">All Companies
            <!--<div class="pull-right" style="font-size: 15px;">
                <a href class="pull-right">All <i class="fa fa-angle-down"></i></a>
            </div>-->
        </div>

        <div class="panel panel-default  " style="padding-top:0px;">
            <loading ng-show="funnel.loading==true"></loading>
            <div >

                <div id="editTable"></div>
                <div class="m-t">
                    <div class="input-group m-b">
                        <span class="input-group-addon">ROI:</span>
                        <input style="width:200px;" type="text" class="form-control" placeholder="ROI" value="{{roi}}">
                    </div>
                </div>
                <div class="m-t"><button class="btn w-xs btn-primary" ng-click="saveTable(this);">Save</button></div>
                <!--<table style="width: 100%; ">

                    <tr>
                        <td class="p-v-sm " style="width: 210px;">
                            <div class="panel-body">
                                <div class="label-md text-center">Spent</div>
                                <input type="text" class="form-control">
                            </div>

                        </td>
                        <td class="p-v-sm text-center">


                        </td>
                    </tr>

                    <tr>
                        <td class="p-v-sm " style="width: 210px;">
                            <div class="panel-body">
                                <div class="label-md text-center">MQL</div>
                                <input type="text" class="form-control">
                            </div>

                        </td>
                        <td class="p-v-sm text-center">
                            <div class="input-group m-b capsule" style="width:90%;">
                                <span class="input-group-addon capsule-ads capsule-sub"  >
                                    <input type="text" class="form-control">
                                    <div class="capsule-label">
                                        <div class="label-circle">
                                            <div class="label-md text-center">ADS</div>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="label-line">

                                        </div>
                                    </div>
                                </span>
                                <span class="input-group-addon capsule-mail capsule-sub" >
                                    <input type="text" class="form-control">
                                     <div class="capsule-label">
                                         <div class="label-circle">
                                             <div class="label-md text-center">Email</div>
                                             <input type="text" class="form-control">
                                         </div>
                                         <div class="label-line">

                                         </div>
                                     </div>
                                </span>
                                <span class="input-group-addon capsule-calls capsule-sub"  >
                                    <input type="text" class="form-control">
                                     <div class="capsule-label">
                                         <div class="label-circle">
                                             <div class="label-md text-center">Calls</div>
                                             <input type="text" class="form-control">
                                         </div>
                                         <div class="label-line">

                                         </div>
                                     </div>
                                </span>
                                <span class="input-group-addon capsule-netnew capsule-sub"  >
                                    <input type="text" class="form-control">
                                     <div class="capsule-label">
                                         <div class="label-circle">
                                             <div class="label-md text-center">Net New</div>
                                             <input type="text" class="form-control">
                                         </div>
                                         <div class="label-line">

                                         </div>
                                     </div>
                                </span>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="p-v-sm ">

                            <div class="panel-body">
                                <div class="label-md text-center">SAO</div>
                                <div class="black-num-3x text-center"><input type="text" class="form-control"></div>
                            </div>

                        </td>
                        <td class="p-v-sm text-center">
                            <div class="input-group m-b capsule" style="width:80%;">
                                <span class="input-group-addon capsule-ads capsule-sub" ><input type="text" class="form-control"></span>
                                <span class="input-group-addon capsule-mail capsule-sub" ><input type="text" class="form-control"></span>
                                <span class="input-group-addon capsule-calls capsule-sub" ><input type="text" class="form-control"></span>
                                <span class="input-group-addon capsule-netnew capsule-sub" ><input type="text" class="form-control"></span>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="p-v-sm " ng-class="{'funnel-grey': !showEngagement}">
                            <div class="panel-body">
                                <div class="label-md text-center">Closed</div>
                                <div class="black-num-3x text-center"><input type="text" class="form-control"></div>
                            </div>

                        </td>
                        <td class="p-v-sm text-center" ng-class="{'funnel-grey': !showEngagement}">
                            <div class="input-group m-b capsule">
                                <span class="input-group-addon capsule-ads capsule-sub"><input type="text" class="form-control"></span>
                                <span class="input-group-addon capsule-mail capsule-sub"><input type="text" class="form-control"></span>
                                <span class="input-group-addon capsule-calls capsule-sub"><input type="text" class="form-control"></span>
                                <span class="input-group-addon capsule-netnew capsule-sub"><input type="text" class="form-control"></span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="p-v-sm  " ng-class="{'funnel-grey': !showConversion}" style="padding-bottom: 0;">
                            <div class="panel-body">
                                <div class="label-md text-center">ACV</div>
                                <div class="black-num-3x text-center"><input type="text" class="form-control"></div>
                            </div>

                        </td>
                        <td class="p-v-sm  text-center" ng-class="{'funnel-grey': !showConversion}"
                            style="padding-bottom: 0;">

                            <div class="input-group m-b label-circle-div">
                                <div class="label-circle bg-ads">
                                    <div class="black-num text-center"><input type="text" class="form-control" style="margin-bottom: 22px;"></div>
                                    <div class="label-title text-center ">ADS</div>
                                </div>
                                <div class="label-circle bg-mail">
                                    <div class="black-num text-center"><input type="text" class="form-control" style="margin-bottom: 22px;"></div>
                                    <div class="label-title text-center ">Email</div>
                                </div>
                                <div class="label-circle bg-calls">
                                    <div class="black-num text-center"><input type="text" class="form-control" style="margin-bottom: 22px;"></div>
                                    <div class="label-title text-center ">Calls</div>
                                </div>
                                <div class="label-circle bg-netnew">
                                    <div class="black-num text-center"><input type="text" class="form-control" style="margin-bottom: 22px;"></div>
                                    <div class="label-title text-center ">Net New</div>
                                </div>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td class="p-v-sm  " style="padding-bottom: 0;">


                        </td>
                        <td class="p-v-sm  text-center" ng-class="{'funnel-grey': !showConversion}"
                            style="padding-bottom: 0;">

                            <div class="panel b-a" style="width: 373px;margin:10px auto;">

                                <div class="p-lg">
                                    <div class="pull-left pull-none-sm p-h text-center m-r-xs">
                                        <div  style="width: 65px; height: 65px; line-height: 65px;">
                                            <i class="fa fa-bank text-4x"></i>
                                        </div>
                                    </div>
                                    <div class="clear">
                                        <div class="label-md text-center">Marketing ROI</div>
                                        <div class="text-2x font-bold"><input type="text" class="form-control"></div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>


                </table>-->
            </div>

        </div>
    </div>


</div>


