<ul>
    <li><input type="checkbox" class="select-all"/></li> {{!全选}}
    <li><a href="#" class="pause disabled"><i class="icon icon-middle icon-pause"></i>{{i18n "task.toolbar.pause"}}</a></li>
    <li><a href="#" class="continue disabled"><i class="icon icon-middle icon-continue"></i>{{i18n "task.toolbar.continue"}}</a></li>
    <li><a href="#" class="delete disabled"><i class="icon icon-middle icon-trash"></i>{{i18n "task.toolbar.delete"}}</a></li>
    <li><a href="#" class="folder"><i class="icon icon-middle icon-folder-small"></i>{{i18n "task.toolbar.open_folder"}}</a></li>
</ul>
