<div class="auto-integrate">

	<div class="p-v-sm m-t pos-rlt clear">
	    <h1 class="no-margin no-padding-h">
	        <div class="pull-left title-ico"><i class="ui-icon btr bt-signal"></i></div>
	        <div class="pull-left title-text">Integratations</div>
	    </h1>
	</div>
	<div id="" class="b-b p-v-md m-b">
		<div class="clearfix h-l-30 ">
			<label class="pull-left text-xl m-r {{salesforce.integrated?'text-success-dk':'text-color '}}">
				<span class="fa fa-check-circle"></span>
			</label>
			<div class="pull-left">
				<a class=" card-minor" href="javascript:;"  ng-click="checkedTab=1">Set up your Fit Model</a>
			</div>
		</div>
		<div class="clearfix h-l-30">
			<label class="pull-left text-xl m-r {{(marketo.integrated||eloqua.integrated)?'text-success-dk':'text-color '}}">
				<span class="fa fa-check-circle"></span>
			</label>
			<div class="pull-left ">
				<a class=" card-minor" href="javascript:;"  ng-click="checkedTab=2">Set up your Engagement Model</a>
			</div>
		</div>
		<div class="clearfix h-l-30">
			<label class="pull-left text-xl m-r {{pixel.integrated?'text-success-dk':'text-color '}}">
				<span class="fa fa-check-circle"></span>
			</label>
			<div class="pull-left ">
				<a class=" card-minor" href="javascript:;"  ng-click="checkedTab=3">Identify your web visitors</a>
			</div>
		</div>
	</div>
	<div>
		
		<strong class="instruction text-22 block m-b" ng-show="(checkedTab==1)">
			Set up your Fit Model
		</strong>
		<strong class="instruction text-22 block m-b" ng-show="(checkedTab==2)">
			Set up your Engagement Model
		</strong>
		<strong class="instruction text-22 block m-b" ng-show="(checkedTab==3)">
			EverString Pixel
		</strong>
		<div ng-show="(checkedTab==1||checkedTab==2)">
			<span class="step pull-left m-r-sm" ng-show="!salesforce.integrated">1</span>
			<span class="card-minor h-l-20" ng-show="!salesforce.integrated">Begin customizing your predictive model by integrating Salesforce</span>
			<span class="fa fa-check-circle text-success-dk block text-xl" ng-show="salesforce.integrated"></span>
		</div>
		<div class="row m-v" ng-show="(checkedTab==1||checkedTab==2)">
			<div class="col-sm-7">
				<div class="panel p-h-lg h-110 ">
					<div class="pull-left w-thumb-lg h-l-110">
						<img class="w-thumb-lg tp-logo" src="images/salesforce.svg" alt="salesforce">
					</div>
					<div class="pull-right">
						<div class="m-t-lg text-right">
							<button type="button" class="target-btn" ng-click="integrateSalesforce()" ng-disabled="salesforce.integrated">INTEGRATE</button>
						</div>
						<label class="block m-t-xs chart-data ui-checks">
				        	<input  type="checkbox" value="1" ng-model="salesforce.sandbox" ng-checked="salesforce.sandbox" ng-disabled="salesforce.integrated"><i></i><span  class="{{salesforce.integrated?'text-muted':''}} pull-right m-r-xs font-normal">Use Salesforce Sandbox?</span>
				        </label>
					</div>
					
				</div>
			</div>
		</div>
		<div ng-show="(checkedTab==2)">
			<span class="step pull-left m-r-sm" ng-show="!marketo.integrated&&!eloqua.integrated">2</span>
			<span class="card-minor h-l-20" ng-show="!marketo.integrated&&!eloqua.integrated">Choose Marketo or Eloqua to Integrate with</span>
			<span class="fa fa-check-circle text-success-dk block text-xl" ng-show="marketo.integrated||eloqua.integrated"></span>
		</div>
		<div class="row m-v">
			<div class="col-sm-7" ng-show="(checkedTab==2&&!marketo.checked&&!marketo.integrated&&!eloqua.integrated)">
				<div class="col-sm-5 h-110 h-l-110 text-center bg-white pointer" ng-click="marketo.checked=true">
					<img src="images/marketo.svg" class="tp-logo" alt="">
				</div>
				<div class="col-sm-2 h-110 h-l-110 text-center">or</div>
				<div class="col-sm-5 h-110 h-l-110 text-center bg-white pointer" ng-click="integrateEloqua()">
					<img src="images/eloqua.svg"  class="tp-logo" alt="">
				</div>
			</div>
			<div class="col-sm-7" ng-show="(checkedTab==2&&marketo.checked&&!marketo.integrated&&!eloqua.integrated)">
				<div class="panel">
					<form name="marketoIntegrateForm">
					<div class=" p-h-lg h-110 b-b">
						<div class="pull-left w-thumb-lg h-l-110">
							<img class="w-thumb-lg tp-logo" src="images/marketo.svg" alt="salesforce">
						</div>
						<div class="pull-right">
							<div class="m-t-lg text-right">
								<button type="button" class="target-btn" ng-click="integrateMarketo(marketoIntegrateForm.$valid)">INTEGRATE</button>
							</div>
							<label class="block m-t-xs chart-data">
					        	<a href="javascript:;" ng-click="marketo.checked=false" class="font-normal pull-right m-r-xs">Switch to Eloqua</a> 
					        </label>
						</div>
					</div>
					<div class="panel-body">
						<div class="m-t-md form-inline">
							<p  class="font-weight-600 text-muted text-center">To get the following credentials, follow the steps in this <a target="_blank" href="https://everstring.atlassian.net/wiki/display/ESDOC/Marketo+Integration+Documentation">document</a></p>
							<div class="data-label  m-b-sm text-center">
								<strong class="font-weight-600 w-min-230 inline text-right m-r-sm">Marketo REST API Endpoint URL <span class="text-primary">*</span> </strong>
								<input  type="text" class="w-min-220 font-normal form-control" placeholder="https://example.mktorest.com" ng-model="marketo.marketoInstance" required/>
							</div>
							<div class="data-label  m-b-sm text-center">
								<strong class="w-min-230 font-weight-600 inline text-right m-r-sm">Client ID <span class="text-primary">*</span> </strong>
								<input  type="text" class="w-min-220 font-normal form-control" ng-model="marketo.marketoClientId" required/>
							</div>
							<div class="data-label  m-b-sm text-center">
								<strong class="w-min-230 font-weight-600 inline text-right m-r-sm">Client Secret <span class="text-primary">*</span> </strong>
								<input  type="text" class="w-min-220 font-normal form-control" ng-model="marketo.marketoSecretKey" required/>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
			<div class="col-sm-7" ng-show="(checkedTab==2&&marketo.integrated)">
				<div class="panel p-h-lg h-110 ">
					<div class="pull-left w-thumb-lg h-l-110">
						<img class="w-thumb-lg tp-logo" src="images/marketo.svg" alt="marketo">
					</div>
					<div class="pull-right">
						<div class="m-t-lg text-right">
							<button type="button" class="target-btn" disabled="disabled">INTEGRATE</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-7" ng-show="(checkedTab==2&&eloqua.integrated)">
				<div class="panel p-h-lg h-110 ">
					<div class="pull-left w-thumb-lg h-l-110">
						<img class="w-thumb-lg tp-logo" src="images/eloqua.svg" alt="eloqua">
					</div>
					<div class="pull-right">
						<div class="m-t-lg text-right">
							<button type="button" class="target-btn" disabled="disabled">INTEGRATE</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-7" ng-show="(checkedTab==3)">
				<div id="" class="" style="">
					<ul class="no-padding">
						<li class="data-text m-b-sm">
							Add EverString's tracking code to your website
						</li>
						<li class="data-text">
							1.Copy the code below
						</li>
						<li class="data-text">
							2.Paste it to EVERY page you want to track
						</li>
						<li class="panel m-v">
							<div class="panel-body">
								<span class="fa fa-bolt"></span>
								Tip: If you want to track all of your webpages, please place the tracking code on the footer of your website's global template.
							</div>
						</li>
						<li class="clearfix">
							<form name="pixelIntegrateForm">
								<strong class="data-text p-b-sm block">Your Website</strong>
								<input type="text" ng-model="pixel.url" value="{{pixel.url}}" class="form-control m-b-sm" ng-readonly="pixel.integrated" placeholder="http://www.everstring.com" required />
								<div class="text-right">
									<button type="button" ng-click="integratePixel(pixelIntegrateForm.$valid)" class="target-btn" ng-disabled="pixel.integrated">SUBMIT</button>
								</div>
							</form>
						</li>
						<li class=" clearfix" ng-show="pixel.integrated">
							<strong class="data-text p-b-sm block">Javascript Version</strong>
							<textarea name="" id="" class="form-control m-b-sm js-pixel-js-textarea" ng-bind="pixel.scriptText" rows='5' readonly>
							</textarea>
							<div class="text-right">
								<a href="javascript:;" class="m-r-xs js-copy" style="display:none">Copied to clickboard</a>
								<button type="button" class="target-btn js-copy-javascript">COPY</button>
							</div>
						</li>
						<li class=" clearfix" ng-show="pixel.integrated">
							<strong class="data-text p-b-sm block">Image Version</strong>
							<textarea name="" id="" class="form-control m-b-sm js-pixel-image-textarea" ng-bind="pixel.imgText" rows='5' readonly>
							</textarea>

                            <div class="text-right">
                                <a href="javascript:;" class="m-r-xs js-copy" style="display:none">Copied to
                                    clickboard</a>
                                <button type="button" class="target-btn js-copy-image">COPY</button>
                            </div>


                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
