<div class="base-info" >
    <div class="icon">
    </div>
    <h3 class="name hint--bottom" data-hint="{{name}}"><span class="name-sp">{{name}}</span></h3>
    <p class="apple-id">{{appleID}}</p>
</div>
<span class="size hint--left" data-hint="App Size">{{size}}</span>
<span class="data-size hint--left" data-hint="App Data Size">{{dataSize}}</span>
<span class="version hint--left" data-hint="App Version">{{version}}</span>
<div class="action">
<a class="btn btn-warn uninstall" href="#">Uninstall</a>
<a class="btn btn-simple update hide">Update</a>
</div>
