<div class="app-item-header">
    <div class="base-info">Name</div>
    <span class="size">Size</span>
    <span class="data-size">Data Size</span>
    <span class="version">Version</span>
    <div class="action">Action</div>
</div>