<ul>
    <li><input type="checkbox" class="select-all"/></li> {{!全选}}
    <li><a href="#" class="install"><i class="icon icon-middle icon-down-small"></i>{{i18n "application.toolbar.install"}}</a></li> {{!安装全部}}
    <li><a href="#" class="update disabled"><i class="icon icon-middle icon-up"></i>{{i18n "application.toolbar.update"}}</a></li> {{!升级全部}}
    <li><a href="#" class="export disabled"><i class="icon icon-middle icon-export"></i>{{i18n "application.toolbar.export"}}</a></li> {{!导出}}
    <li><a href="#" class="uninstall disabled"><i class="icon icon-middle icon-trash"></i>{{i18n "application.toolbar.uninstall"}}</a></li> {{!卸载全部}}
</ul>
