<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width:35%; min-width:500px;">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body">
                <div class="m-h-lg p-h-lg" style="margin-top:70px;margin-bottom:50px">
                    <i class="fa fa-exclamation-circle es-warning-icon pull-left"></i>

                    <div class="data-text">
                        Warning!
                    </div>

                    <div class="data-text">
                        All campaign information will be lost.
                    </div>

                    <div class="m-t-md align-center">
                        Are you sure you want to cancel campaign setup?
                    </div>
                </div>
                <div class="align-right">
                    <button type="button" class="secondary-btn borderless" ng-click="$hide()">No</button>
                    <button type="button" class="secondary-btn" ui-sref="ads.campaign.list" ng-click="$hide()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>