<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div ng-show="showErrors">
                <div class="es-alert-error" ng-messages="segmentForm.segName.$error" ng-show="segmentForm.segName.$invalid" role="alert">
                    <div ng-message="required"><i class="fa fa-ban fa-lg es-alert-icon"></i>You must enter a name.</div>
                </div>
                <div class="es-alert-error" ng-hide="segCreationOptions.selected" role="alert">
                    <div><i class="fa fa-ban fa-lg es-alert-icon"></i> You must select a segment type/rule. </div>
                </div>
                <div class="es-alert-error" ng-messages="segmentForm.urlPattern.$error" ng-show="segCreationOptions.selected==='People - Page Visited' && segmentForm.urlPattern.$invalid" role="alert">
                    <div ng-message="required"><i class="fa fa-ban fa-lg es-alert-icon"></i>You must enter a url pattern.</div>
                </div>
                <div class="es-alert-error" ng-messages="segmentForm.duration.$error" ng-show="segmentForm.duration.$invalid" role="alert">
                    <div ng-message="min"><i class="fa fa-ban fa-lg es-alert-icon"></i>Your duration must be greater than 0.</div>
                    <div ng-message="required"><i class="fa fa-ban fa-lg es-alert-icon"></i>You must enter a duration.</div>
                </div>
            </div>
            <div class="modal-body">
                <form name="segmentForm">
                    <div class="form-group">
                        <label>Segment Name</label>
                        <input type="text" name="segName" class="form-control" ng-model="segCreationOptions.name"  required>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Segment Type and Rule</label>
                                <ui-select ng-model="segCreationOptions.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="segmentType in segmentTypes ">
                                        <span ng-bind-html="segmentType | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="col-md-6" ng-hide="segCreationOptions.selected==='People - Page Visited' || segCreationOptions.selected === undefined">
                            <div class="form-group">
                                <label>Predicted {{segCreationOptions.selected.split(" ")[0]}} Multiplier</label>
                                <ui-select ng-model="expansionFactor" theme="bootstrap">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected}}X
                                    </ui-select-match>
                                    <ui-select-choices repeat="amount in expansionOptions ">
                                        <span ng-bind-html="amount+'X' | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6" ng-show="segCreationOptions.selected==='People - Page Visited'">
                            <div class="form-group">
                                <label>Enter URL Pattern to Match</label>
                                <input type="text" name="urlPattern" class="form-control" ng-model="segCreationOptions.urlPattern" required>
                                <div class="help-block">You may use '*' characters as wildcards. eg. /product*</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Duration (Number of Days)</label>
                        <input type="number" name="duration" min="1" class="form-control" ng-model="segCreationOptions.duration"  required style="width:60px;">
                        <div class="help-block">Number of days to keep inactive user in segment</div>
                    </div>

                    <div class="checkbox">
                        <label class="ui-checks">
                            <input type="checkbox" ng-model="segCreationOptions.conversion">
                            <i></i>
                            Count this as a conversion
                        </label>
                    </div>

                    <div class="form-group align-right">
                        <button type="button" class="target-btn" ng-click="saveSegment() ? $hide() : inputInvalid(); showExistingSegment();">Save</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>
