<div class="p-h-md p-v  pos-rlt">
    <h1 class="no-margin">Campaign Overview</h1>
</div>
<div lazy-load="angularBootstrap"></div>

<div class="p-md">

    <div class="panel panel-default panel-grey">

        <div>
            <form class="form-horizontal">
                <fieldset>

                    <div class="col-sm-4">
                        <div>
                            <label class="text-u-c">Campaign</label>

                            <div>

                                <ui-select ng-model="person.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'group'"
                                                       repeat="item in people | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        <small ng-bind-html="item.email | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div>
                            <label class="text-u-c">Date Range</label>

                            <div>

                                <ui-select ng-model="person.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Select...">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'group'"
                                                       repeat="item in people | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        <small ng-bind-html="item.email | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>

    </div>

</div>


<div>
    <div class="col-sm-5 ">
        <div class="panel-heading-left0">Companies</div>
        <div class="panel panel-default bg-white p-v-xs">
            <table style="width: 100%;">
                <tr  >
                    <td class="p-v-sm" style="width: 30%;">
                        <div class="muted text-center">Companies</div>

                    </td>
                    <td class="p-v-sm" style="width: 70%;">
                        <div class="muted text-center">People</div>

                    </td>

                </tr>
                <tr >
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">Targeted</div>
                        <div class="black-num text-center">233</div>

                    </td>
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">
                            <span class="btn btn-rounded btn-info" style="width: 90%;">34333</span>
                        </div>

                    </td>
                </tr>

                <tr >
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">Reach</div>
                        <div class="black-num text-center">233</div>

                    </td>
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">
                            <span class="btn btn-rounded btn-info" style="width: 80%;">34333</span>
                        </div>

                    </td>
                </tr>

                <tr >
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">Visits</div>
                        <div class="black-num text-center">233</div>

                    </td>
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">
                            <span class="btn btn-rounded btn-info" style="width: 70%;">34333</span>
                        </div>

                    </td>
                </tr>

                <tr >
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">Engagement</div>
                        <div class="black-num text-center">233</div>

                    </td>
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">
                            <span class="btn btn-rounded btn-info" style="width: 60%;">34333</span>
                        </div>

                    </td>
                </tr>

                <tr >
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">Conversions</div>
                        <div class="black-num text-center">233</div>

                    </td>
                    <td class="p-v-sm">
                        <div class="upper-title-small text-center">
                            <span class="btn btn-rounded btn-info" style="width: 50%;">34333</span>
                        </div>

                    </td>
                </tr>



            </table>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel-heading-left0">Top Performers</div>
        <div class="panel panel-default">
            <div class="panel no-border  dk">
                <div class="bg-top-title text-lt">
                    Microsoft

                </div>

                <div class="panel-body p-v">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="upper-title-small text-center">Reach</div>
                                <div class="black-num text-center">233</div>
                            </td>
                            <td>
                                <div class="upper-title-small text-center">Clicks</div>
                                <div class="black-num text-center">233</div>
                            </td>
                            <td>
                                <div class="upper-title-small text-center">Engage</div>
                                <div class="black-num text-center">233</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel no-border  dk">
                <div class="bg-top-title text-lt">
                    Microsoft

                </div>

                <div class="panel-body p-v">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="upper-title-small text-center">Reach</div>
                                <div class="black-num text-center">233</div>
                            </td>
                            <td>
                                <div class="upper-title-small text-center">Clicks</div>
                                <div class="black-num text-center">233</div>
                            </td>
                            <td>
                                <div class="upper-title-small text-center">Engage</div>
                                <div class="black-num text-center">233</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel no-border  dk">
                <div class="bg-top-title text-lt">
                    Microsoft

                </div>

                <div class="panel-body p-v">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="upper-title-small text-center">Reach</div>
                                <div class="black-num text-center">233</div>
                            </td>
                            <td>
                                <div class="upper-title-small text-center">Clicks</div>
                                <div class="black-num text-center">233</div>
                            </td>
                            <td>
                                <div class="upper-title-small text-center">Engage</div>
                                <div class="black-num text-center">233</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel-heading-left0">Spend Totals</div>
        <div class="panel panel-default">
            <div class="panel panel-info b-l-success b-l-8x m-b-xs">
                <div class="panel-body">
                    <div class="upper-title-small text-center">Spend</div>
                    <div class="black-num text-center">$9,233</div>
                </div>
            </div>

            <div class="panel panel-info b-l-success b-l-8x m-b-xs">
                <div class="panel-body">
                    <div class="upper-title-small text-center">Remaining</div>
                    <div class="black-num text-center">$233</div>
                </div>
            </div>

            <div class="panel panel-info b-l-success b-l-8x m-b-xs">
                <div class="panel-body">
                    <div class="upper-title-small text-center">CPC</div>
                    <div class="black-num text-center">$233</div>
                </div>
            </div>

            <div class="panel panel-info b-l-success b-l-8x m-b-xs">
                <div class="panel-body">
                    <div class="upper-title-small text-center">CAC</div>
                    <div class="black-num text-center">$233</div>
                </div>
            </div>

            <div class="panel panel-info b-l-success b-l-8x m-b-xs">
                <div class="panel-body">
                    <div class="upper-title-small text-center">Ave conv.rate</div>
                    <div class="black-num text-center">1.2%</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="panel-heading-left0">Companies</div>

    <div class="panel-grey" style="padding:8px 0;">

        <div>
            <form class="form-horizontal">
                <fieldset>

                    <div class="col-sm-6" style="line-height: 34px;">
                        <a href="" class="m-h-xs">Download CSV</a>
                    </div>


                    <div class="col-sm-6"  >
                        <input type="text" class="form-control rounded pull-right" style="width: 200px;" placeholder="Search">
                        <span class="ti-search form-control-search"></span>
                    </div>


                </fieldset>
            </form>
        </div>

    </div>





    <div class="panel panel-default bg-white">

        <table st-table="rowCollectionBasic" class="table table-striped">
            <thead>
            <tr>
                <th><a href="" ng-click="sortType = 'Company'; reverse=!reverse;order('Company', reverse)">Company
                    <i ng-show="sortType != 'Company'" class="fa fa-sort"></i>
                    <i ng-show="sortType == 'Company' && !reverse" class="fa fa-sort-down"></i>

                    <span ng-show="sortType == 'Company' && reverse" class="fa fa-sort-up"></span>
                </a>
                </th>
                <th>Reach</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>Engage</th>
                <th>Conv</th>
                <th>CTR</th>
                <th>CPM</th>
                <th>CPC</th>
                <th>Spend/Budget</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rowCollectionBasic">
                <td>{{row.firstName | uppercase}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.birthDate | date}}</td>
                <td>{{row.balance | currency}}</td>

                <td>12%</td>
                <td>{{row.balance | currency}}</td>
                <td>{{row.balance | currency}}</td>
                <td>{{row.balance | currency}}</td>
                <td>{{row.balance | currency}}</td>
                <td>{{row.balance | currency}}</td>

                <td>{{row.lastName}}</td>

                </td>
            </tr>
            </tbody>
        </table>


        <div class="p-h-md">
            <nav class="pull-right">
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>


    </div>

</div>
