<div class="connect-tip">
    <p>Please connect your iOS device first before clicking 'Fix Crash'</p>
    <div class="dialog-footer">
        <a draggable="false" class="btn btn-deep" data-dismiss="dialog" href="#">OK</a>
    </div>
</div>