<div class="i-history">
    <a draggable="false" class="i-history-back hint--bottom" data-hint="Back" role="button" href="#"><i class="icon icon-middle icon-back"></i></a>
    <a draggable="false" class="i-history-forward hint--bottom" data-hint="Forward" role="button" href="#"><i class="icon icon-middle icon-forward"></i></a>
    <a draggable="false" class="i-history-refresh hint--bottom" data-hint="Refresh" role="button" href="#"><i class="icon icon-middle icon-refresh"></i></a>
</div>
<a draggable="false" class="btn btn-primary i-btn-repair"><i class="icon icon-middle icon-lightning"></i>{{i18n "viewport.fix_crash"}}</a>
<div class="i-toolbar">
  <!--  <a draggable="false" href="#" class="toolbar-feedback hint--bottom" role="button" data-hint="Feedback" ><i class="icon icon-middle icon-dialog"></i></a>
    <a draggable="false" href="#" class="toolbar-menu hint--bottom" role="button" data-hint="Menu" ><i class="icon icon-middle icon-menu"></i></a>-->
    <a draggable="false" href="#" class="toolbar-min hint--bottom" role="button" data-hint="Min"><i class="icon icon-middle icon-min"></i></a>
    <a draggable="false" href="#" class="toolbar-max hint--bottom" role="button" data-hint="Max" ><i class="icon icon-middle icon-max"></i></a>
    <a draggable="false" href="#" class="toolbar-restore hint--bottom" role="button" data-hint="Restore" ><i class="icon icon-middle icon-restore"></i></a>
    <a draggable="false" href="#" class="toolbar-exit hint--bottom"  role="button" data-hint="Exit" ><i class="icon icon-middle icon-exit"></i></a>
</div>