<div class="i-itunes">
    <p>To connect your iOS device, you need to install iTunes on your PC first. Download the latest iTunes from the official website now</p>
    <p>Please restart iGenie after installing iTunes</p>
    <a draggable="false" class="btn btn-deep go-apple-site" href="#">Go to Apple.com</a>
</div>