<h1>iGenie Helper</h1>
<ul>
    <li>
        <a draggable="false" href="#lang/english/home" class="sidebar-home client active" title="Home"><i class="icon icon-large icon-home"></i>Home</a>
    </li>
    <li>
        <a draggable="false" href="#lang/english/resource/app/home" class="js-sidebar-apps sidebar-genie" title="iGenie Apps"><i class="icon icon-large icon-genie"></i>iGenie Apps</a>
    </li>
    <!--<li>-->
        <!--<a draggable="false" href="#lang/english" class="sidebar-jaibreak " title="Jaibreak Apps">Jaibreak Apps</a>-->
    <!--</li>-->
    <li>
        <a draggable="false" href="#lang/english/app" class="sidebar-manage client " title="Manage Apps"><i class="icon icon-large icon-folder"></i>Manage Apps</a>
    </li>
    <li>
        <a draggable="false" href="#lang/english/task" class="sidebar-task client " title="Task Center"><i class="icon icon-large icon-down"></i>Task Center<em class="task-status"></em> </a>
    </li>
</ul>