<div class="aside demand-aside contacts-aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-rounded btn-primary" ng-click="$hide()" id="btn-close">CLOSE</button>
                        <h2 class="m-t-lg m-b-md"><i class="ui-icon btr bt-magic m-r msg"></i>Title Categories: {{filteredContactCount  | number:0}} contacts</h2>
                        <div class="wrapper">
                            <p class="title">Begin by typing </p>
                            <div class="search-box">
                                <div action="" class="form-inline">
                                    <div class="form-group">
                                        <div class="clearfix">
                                            <input id="js-title-typeahead" type="text" class="js-title-typeahead form-control pull-left input-keyword"
                                                   ng-model="audience.contact.title.selectedTitle"
                                                   bs-options="title for title in audience.contact.title.getTitles($viewValue)"
                                                   placeholder="e.g. CMO,CFO,Controller" bs-typeahead/>

                                            <button class="btn-dropdown pull-left"  bs-dropdown="audience.contact.title.types"
                                                    data-placement="bottom-right" data-animation="am-collapse">{{audience.contact.title.selectTypeText}}</button>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-rounded m-l" ng-click="audience.contact.title.addTitle()">ADD</button>
                                    <!-- <i class="fa fa-check-circle-o m-l"></i> -->
                                </div>
                            </div>
                            <div class="recommended flexbox m-t">
                                <div class="desc">
                                    <div class="inner">Recommended Titles</div>
                                </div>
                                <div class="flex tags clearfix">
                                    <!-- <div class="tag" ng-repeat="(key,value) in tags">{{value}}</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="flexbox results m-t">
                            <div class="flex border-right">
                                <h3>Included</h3>
                                <div class="titles m-t " ng-repeat="value in audienceList.selected.contact.title.included">
                                    <div class="indicator-box title"  bs-tooltip="tooltip" title="{{value}}">
                                        <div class="name">{{value}}</div>
                                        <p>{{ audience.contact.title.nums[value] || 0}}</p>
                                        <div class="mask">
                                            <div class="inner"></div>
                                            <i class="fa fa-trash-o" ng-click="audience.contact.title.deleteTitle('{{value}}','included')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <h3>Excluded</h3>
                                <div class="titles m-t " ng-repeat="value in audienceList.selected.contact.title.excluded">
                                    <div class="indicator-box title"  bs-tooltip="tooltip" title="{{value}}">
                                        <div class="name" bs-tooltip="tooltip" title="{{value}}">{{value}}</div>
                                        <p>{{ audience.contact.title.nums[value] || 0}}</p>
                                        <div class="mask">
                                            <div class="inner"></div>
                                            <i class="fa fa-trash-o" ng-click="audience.contact.title.deleteTitle('{{value}}','excluded')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>