<div class="aside demand-aside location-aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-rounded btn-primary" ng-click="$hide()" id="btn-close">CLOSE</button>

                        <h2 class="m-t-lg m-b-md"><i class="ui-icon btr bt-magic m-r"></i>Location Categories: {{filteredCompanyCount | number:0}} companies</h2>
                        <!--<div class="wrapper">
                            <div class="row">
                                <div class="col-md-2 col" ng-repeat="(key,value) in audienceList.selected.company.state.allData">
                                    <div ng-class="{'block': true,'selected': value.name == activeCountry}"
                                            ng-click="changeCountry(value.name)">
                                        <span>{{value.id}}</span><br />
                                        <span>{{value.num}}</span><br />
                                        <span>{{value.multiple}}x</span>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="wrapper-search">
                            <div class="table-crud-row m-t">
                                <div class="table-crud-text">FILTER</div>
                                <div class="table-search">
                                    <span class="btr bt-search form-control-search"></span>
                                    <span ng-click="clearKey();" class="fa fa-close form-search-clear"></span>
                                    <input type="text"
                                           class="form-control rounded"
                                           ng-model="keyword">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="row">
                               <!-- <div class="col-md-2 col" ng-repeat="(key,value) in filter()">
                                    <div ng-class="{'block area': true,'selected': value.selected}"
                                            ng-click="toggleArea(value.name)">
                                        <span>{{value.name}}</span><br />
                                        <span>{{value.total}}</span><br />
                                        <span>{{value.multiple}}x</span>
                                    </div>
                                </div>-->
                                <div class="col-xs-3 col-lg-2 col" ng-repeat="(key,value) in locations">
                                    <div ng-class="{'indicator-box block area': true,'selected': value.checked}"
                                         ng-click="audience.company.location.toggleArea(value.id)"
                                         bs-tooltip="tooltip" title="{{value.name}}">
                                        <div class="name">{{value.name}}</div>
                                        <div class="num">{{value.num  | number:0}}</div>
                                        <div class="num">{{value.liftRateMultiple | number:1}}x</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>