<div class="modal modal-export" tabindex="-1" role="dialog">
    <div class="modal-dialog relative">
        <loading ng-show="exportLeads.loadingExport"></loading>
        <div class="modal-content">
            <div class="modal-header" ng-show="title" ng-if="!exportFinished">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body m-h-lg">
                <div class="modal-alert" ng-show="exportFinished">
                    <div class="flexbox">
                        <div class="img">
                            <i class="fa fa-check-circle-o m-l m-t"></i>
                        </div>
                        <div class="msg flex h2">
                            Success!<br>Your CSV will be sent to you shortly!
                        </div>
                    </div>
                </div>
                <div ng-hide="exportFinished">
                    <form role="form form-horizontal">
                        <div class="form-group clearfix">
                            <label for="name" class="col-sm-2 control-label">Export Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter name"
                                       value="Export1">
                            </div>
                        </div>
                        <div class="line m-t m-b"></div>
                        <div class="form-group clearfix row">
                            <div class="col-sm-4">
                                <p>Companies</p>

                                <p><input type="number" class="form-control" ng-change="audienceList.saveAudience(false,true);"
                                          ng-model="audienceList.selected.companyCount"/></p>
                            </div>
                            <div class="col-sm-4">
                                <p>Contacts Per Company</p>

                                <p><input type="number" class="form-control" ng-disabled="hasNoContact"
                                          ng-change="audienceList.saveAudience(false,true);"
                                          ng-model="audienceList.selected.contactCount"/></p>
                            </div>
                            <div class="col-sm-4">
                                <p>Frequency</p>

                                <p>
                                    <ui-select ng-model="exportLeads.selected" theme="bootstrap"
                                               on-select="exportLeads.changeSelected($item, $model)">
                                        <ui-select-match placeholder="Select...">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices group-by="'group'"
                                                           repeat="item in exportLeads.list ">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </p>
                            </div>
                            <div class="col-sm-12" ng-init="hasNoContact = !audienceList.selected.company.hasContact">
                                <label class="ui-checks">
                                    <input type="checkbox" value="" ng-model="hasNoContact"
                                           ng-click="exportLeads.changeHasNoContact();">
                                    <i></i>
                                    Include companies without contacts
                                </label>
                                <br>
                                <label class="ui-checks">
                                    <input type="checkbox" value="" ng-model="exportLeads.labelExported"
                                           ng-checked="false">
                                    <i></i>
                                    Don't export these leads next time
                                </label>
                            </div>
                        </div>
                        <div class="form-group align-right m-t-lg">
                            <button class="secondary-btn pull-left" ng-click="$hide()">CANCEL</button>
                            <button type="submit" class="target-btn" ng-click="exportLeads.export()">EXPORT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>