    <div class="lightbox"></div>


    <!-- header -->
    <header id="header" ng-include=" 'views/header.html' " class="app-header navbar {{app.settings.headerColor}}" role="menu">
    </header>
    <!-- / header -->

    <!-- aside -->
    <div id="nav" class="app-aside " ng-class="{'show animated fadeInLeft' : app.asideCollapse}"
       ng-include="'views/nav.html'" ></div>
    <!-- / aside -->

    <!-- content -->

    <div id="content" class="app-content" role="main" style="position: relative;">
        <!-- <div class="es-alert-error" ng-if="!(isPixelActive())">
            <div><i class="fa fa-ban fa-lg es-alert-icon"></i>
                <span class="semi-bold">Account Inactive.</span> You need to set up your Pixel in order to activate your account.
                Pixel not working? <a class="es-link-color" ng-click="showPixelModal()">Click here</a>
            </div>
        </div> -->

        <ui-breadcrumbs class="es-breadcrumb" displayname-property="data.displayName"
                      template-url="views/venders/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>



        <div id="topAlert">
        </div>

        <div class="app-content-main" >
            <div id="common-top" class="app-common-top"
                ng-include="'views/common-top.html'" ></div>
        <div ui-view></div>
        </div>
    </div>
    <!-- / content -->

    <!-- footer -->
    <!--<footer id="footer" class="app-footer" role="footer" ng-include="'views/footer.html'">-->
    <!--</footer>-->
    <!-- / footer -->

