/*
 * This file contains environment specific settings, Please copy and rename
 * to `config.env.js`.
 */
(function () {
    'use strict';

    angular.module('app')
        .constant('apiBaseUrl', 'http://localhost:8080/dp-web/')
        .constant('apiDpWeb', 'https://192.168.0.10:8443/dp-web/')
        .constant('apiLsWeb', 'http://localhost:8080/ls-web/')
        .constant('apiCmpWeb', 'http://localhost:8080/automation/')
        .constant('apiLeadGen', 'http://localhost:8080/automation/')
        .constant('uploadedImageBaseUrl', 'http://ads-uat.everstring.com:5000/uploads/images/')
        .constant('casUrl', 'http://cas.uat.everstring.com/');  //http://192.168.0.181:5000/ads/    http://52.5.48.109:5000/ads/
        //http://52.6.36.26:5000/ads/   dev

}());